:host {
  padding: 10px;
  margin-right: 10px;
}

h2 {
  color: #fff;
  margin-top: 3%;
  font-size: 1.25em;
  margin-bottom: 1%;
  text-align: center;
}

p {
  color: #ffffff8e;
  text-align: center;
  margin-top: -1px;
  margin-bottom: 15%;
  font-size: 0.9rem;
}


.card {
  position: relative;
  min-width: 170px;
  max-width: 400px;
  border-radius: 15px;
  padding: 60px 40px 30px 40px;
  box-shadow: 0 10px 15px rgba(0,0,0, .2);
  overflow: hidden;
  background: linear-gradient(-35deg,#23364a, #587eac);
}

.action {
  display: flex;
  justify-content: flex-start;
}

button {
  margin-top: 30px;
  border: none;
  padding: 0;
  background: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

.fa {
  color: white;
}

.square {
  width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 1px 12px 1px;
  max-width: 170px;
  cursor: pointer;
}

.square:hover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 5px;
  position: relative;
  padding: 1px 12px 1px;
  max-width: 170px;
}

.action button {
  margin: 5% 0% 5% 0%;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 30px;
  border: none;
  padding: 0;
  background: none;
  color: white;
}